:root {
    --background-primary: #ffffff;
    --twitter-red: #ff0100;
    --twitter-dark-red: #a30000;
    --twitter-blue: #1da1f2;
    --twitter-dark-blue: #0f1419;
    --twitter-gray: #657786;
    --twitter-light-gray: #aab8c2;
    --twitter-black: #14171a;
    --twitter-white: #f5f8fa;
    --border-color: #eff3f4;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--twitter-black);
}

.root {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;

    .root-left {
        position: relative;

        & > img {
            object-fit: cover;
        }

        .root-left-logo > img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(10px 10px 10px black) contrast(0.5);
            mix-blend-mode: multiply;
        }
    }

    .root-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: 0 22.5vw 0 7.5vw;
        min-width: 200px;

        h1,
        p {
            font-weight: bold;
        }

        h1 {
            font-size: 1.4rem;
            line-height: 1.25;
        }

        p {
            font-size: 0.9rem;
        }

        .btn-light {
            color: var(--twitter-red);
            background-color: var(--twitter-white);
            border: 1px solid var(--twitter-red);

            &:hover {
                background-color: var(--twitter-red);
                color: var(--twitter-white);
            }
        }
    }
}

.dialog {
    .title {
        font-size: 1.75rem;
        font-weight: 700;
        color: var(--twitter-dark-blue);
        text-align: center;
    }

    .input-group {
        .input {
            padding: 0.5rem;
            min-width: 20vw;

            .info {
                padding-bottom: 0.75rem;
                color: var(--twitter-gray);
            }
        }
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    background-color: var(--twitter-red);
    color: var(--twitter-white);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--twitter-dark-red);
        color: var(--twitter-white);
    }
}

.home {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    min-height: 100vh;

    .left-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 2.5rem;
        border-right: 1px solid var(--border-color);
    }

    .center {
        padding: 2.5rem;
    }

    .right-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2.5rem;
        border-left: 1px solid var(--border-color);
    }
}
