@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --background-primary: #ffffff;
    --twitter-blue: #1da1f2;
    --twitter-light-blue: #dae7ee;
    --twitter-dark-blue: #1b90dd;
    --twitter-gray: #657786;
    --twitter-light-gray: #d1dce4;
    --twitter-black: #14171a;
    --twitter-light-black: #282e32;
    --twitter-red: #ff0000;
    --twitter-light-red: #fdc9ce;
    --twitter-dark-red: #9c0000;
    --twitter-white: #f5f8fa;
    --twitter-muted: #536471;
    --hover: #efefef;
    --border-color: #eff3f4;
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--twitter-black);
    font-family: var(--font-roboto);
}

.btn {
    background-color: var(--twitter-blue);
    color: var(--twitter-white);
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--twitter-dark-blue);
        color: var(--twitter-white);
    }
}

.btn-light {
    color: var(--twitter-blue);
    background-color: var(--twitter-white);
    border: 1px solid var(--twitter-blue);

    &:hover {
        background-color: var(--twitter-blue);
        color: var(--twitter-white);
    }
}

.btn-dark {
    color: var(--twitter-white);
    background-color: var(--twitter-black);

    &:hover {
        background-color: var(--twitter-light-black);
    }
}

.btn-white {
    color: var(--twitter-black);
    background-color: var(--background-primary);
    border: 1px solid var(--twitter-light-gray);

    &:hover {
        background-color: var(--hover);
        color: var(--twitter-black);
    }
}

.btn-danger-outline {
    background-color: var(--twitter-white);
    color: var(--twitter-red);
    border: 1px solid var(--twitter-red);

    &:hover {
        background-color: var(--twitter-light-red);
        color: var(--twitter-red);
    }
}

.btn-danger {
    background-color: var(--twitter-red);
    color: var(--twitter-white);

    &:hover {
        background-color: var(--twitter-dark-red);
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: blur(1px);
}

.root {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;

    .root-left {
        position: relative;

        & > img {
            object-fit: cover;
        }

        .root-left-logo > img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .root-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: 0 22.5vw 0 7.5vw;
        min-width: 200px;

        h1,
        p {
            font-weight: bold;
        }

        h1 {
            font-size: 1.4rem;
            line-height: 1.25;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

.dialog {
    .dialog-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: 400px;

        .btn {
            width: 75%;
            margin: auto;
            margin-bottom: 3rem;
        }
    }
    .title {
        font-size: 1.75rem;
        font-weight: 700;
        color: var(--twitter-black);
        text-align: center;
        padding: 1rem;
    }

    .input-group {
        .input {
            padding: 0.5rem;
            min-width: 20vw;

            .info {
                padding-bottom: 0.75rem;
                color: var(--twitter-gray);
            }
        }
    }

    .dialog-icon {
        margin: auto;
        padding-top: 1rem;
    }

    .new-tweet-wrapper {
        position: relative;
        width: 30vw;
        min-width: 550px;
        padding: 0.5rem;

        * {
            border: none;
        }
    }

    .emoji-picker {
        position: static;
        z-index: 9999;
    }

    .logout-buttons {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
        align-items: center;

        .btn {
            width: 75%;
        }
    }
}

.preview-dialog {
    .btn-close {
        position: absolute;
        left: 1rem;
        top: 0.75rem;
        z-index: 9999;
        color: var(--twitter-white);
        background-color: var(--twitter-light-black);
        font-size: x-large;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--twitter-black);
            background-color: var(--hover);
        }
    }

    .image-wrapper {
        img {
            object-fit: contain;
            display: block;
        }
    }
}

.left-sidebar {
    position: relative;
    margin-left: auto;
    padding: 0 5vw;
    min-width: 190px;
    border-right: 1px solid var(--border-color);
    height: 100%;

    .fixed {
        position: fixed;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        .twitter-icon {
            & > img {
                border-radius: 5rem;
                padding: 0.25rem;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: var(--hover);
                }
            }
        }

        nav {
            ul {
                font-size: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    .nav-link {
                        padding: 0.75rem;
                        border-radius: 5rem;
                        display: inline-flex;
                        transition: background-color 0.2s ease-in-out;

                        &:hover {
                            background-color: var(--hover);
                        }

                        svg {
                            padding-right: 1rem;
                        }
                    }

                    .active {
                        font-weight: 900;
                    }
                }
            }
        }

        .btn.btn-tweet {
            display: flex;
            width: 100%;
            padding: 0.75rem;
            border-radius: 5rem;
            justify-content: center;
            font-size: initial;
        }

        .side-profile {
            position: fixed;
            bottom: 1.5rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            padding: 0.5rem 0.75rem;
            border: none;
            border-radius: 5rem;
            cursor: pointer;
            background-color: var(--hover);
            max-width: 250px;
            overflow: hidden;

            .token-name {
                font-weight: bold;
                padding-bottom: 0.25rem;
                display: flex;
                text-align: left;
            }

            .token-username {
                text-align: left;
            }

            .three-dots {
                padding-right: 0.5rem;
            }
        }
    }
}

.right-sidebar {
    position: relative;

    .fixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        height: 100%;
        border-left: 1px solid var(--border-color);
        min-width: 190px;
        max-width: 300px;
    }

    .right-sidebar-close {
        position: absolute;
        right: 0;
        top: 4px;
    }

    .search {
        position: relative;

        .search-input {
            border: 1px solid var(--border-color);
            border-radius: 5rem;
            background-color: var(--twitter-white);
            padding: 0.5rem 1rem 0.5rem 3rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--twitter-black);
            width: 235px;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--twitter-blue);
            }

            &::placeholder {
                color: var(--twitter-gray);
            }
        }

        svg {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--twitter-blue);
        }
    }

    .who-to-follow {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        background-color: var(--twitter-white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        h1 {
            font-weight: 800;
            font-size: 1.25rem;
        }

        .user-wrapper {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            .btn {
                scale: 0.9;
            }

            .user {
                width: 100%;
                cursor: pointer;

                .user-profile {
                    display: flex;
                    flex-direction: column;
                    gap: 0.15rem;

                    .flex {
                        display: flex;
                        justify-content: space-between;

                        .flex-left {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 0.15rem;
                        }
                    }

                    .user-name {
                        font-weight: bold;
                        font-size: 15px;
                        overflow-wrap: anywhere;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .user-desc {
                        display: none;
                    }
                }
            }
        }
    }

    .reminder {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        background-color: var(--twitter-white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;

        h1 {
            font-weight: 800;
            font-size: 1.25rem;
        }

        p {
            font-size: smaller;
        }

        .btn {
            margin: 0.25rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
        }

        .reminder-buttons {
            scale: 0.75;
            margin-bottom: -1rem;
        }
    }

    .complete-reminder {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        background-color: var(--twitter-white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;

        h1 {
            font-weight: 800;
            font-size: 1.25rem;
        }

        p {
            font-size: smaller;
            line-height: 1.25;
        }

        .btn {
            text-align: center;
        }

        ol {
            li {
                list-style: initial;
                list-style-type: decimal;
                list-style-position: inside;
                line-height: 1.5;
                cursor: help;
            }
        }
    }

    .legal {
        font-size: smaller;
        color: var(--twitter-muted);

        .legal-links {
            margin-inline: 1rem;
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .copy {
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            gap: 0.5rem;
            transition: color 0.2s ease-in-out;

            a:hover {
                color: var(--twitter-blue);
            }

            .github {
                color: var(--twitter-black);
                transition: transform 0.5s ease-in-out;
                font-size: 2rem;

                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.input-additions {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    color: var(--twitter-blue);
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);

    .progress-circle {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 0.5rem;

        .progress-text {
            font-size: 0.75rem;
        }

        .error {
            color: red;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    color: var(--twitter-white);
    background-color: var(--twitter-blue);
    opacity: 0.9;

    .btn {
        margin: 0 0.5rem;
        color: var(--twitter-white);
        background-color: var(--twitter-blue);
        font-size: small;
        border: 1px solid var(--border-color);
        padding: 0.5rem 1.5rem;

        &:hover {
            background-color: var(--twitter-dark-blue);
        }
    }

    .btn-light {
        background-color: var(--twitter-white);
        color: var(--twitter-black);
        border: none;

        &:hover {
            background-color: var(--twitter-light-gray);
        }
    }

    h1 {
        font-weight: bold;
        font-size: x-large;
        padding-bottom: 0.25rem;
    }
}

.new-tweet-form {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);

    form {
        width: 100%;
        margin-top: -0.25rem;
        padding-left: 1rem;

        .input textarea {
            font-size: 20px;
            padding: 0.25rem 0;
        }

        .input ::before,
        .input:hover ::before {
            border: none;
        }
    }
}

.tweet {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--hover);
    }

    .tweet-avatar {
        margin-bottom: auto;
    }

    .tweet-main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .tweet-text {
            overflow-wrap: anywhere;
            line-height: normal;
            font-size: 14px;
            font-family: var(--font-poppins);
            white-space: pre-line;
        }

        .tweet-image {
            border: 1px solid var(--border-color);
            border-radius: 1.5rem;
            overflow: hidden;
            margin-top: 0.5rem;
            width: fit-content;

            img {
                object-fit: cover;
                display: block;
                cursor: pointer;
            }
        }

        .tweet-bottom {
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            margin-top: 0.5rem;
            transform: translate(-6px, -6px);

            .icon {
                opacity: 0.75;
                color: var(--twitter-muted);
                border: none;
                border-radius: 5rem;
                transition: all 0.2s ease-in-out;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: inherit;

                &:hover {
                    cursor: pointer;
                }

                .count {
                    padding-left: 0.25rem;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &.active {
                    font-weight: 900;
                }
            }

            .like {
                &:hover {
                    background-color: rgba(249, 24, 128, 0.1);
                    color: rgba(249, 24, 128, 0.75);
                }

                &.active {
                    color: rgba(249, 24, 128, 0.75);
                }
            }

            .retweet {
                &:hover {
                    background-color: rgba(19, 226, 157, 0.1);
                    color: rgba(2, 37, 26, 0.75);
                }

                &.active {
                    color: rgb(0, 186, 124);
                }
            }

            .reply {
                &:hover {
                    background-color: rgba(21, 140, 209, 0.1);
                    color: var(--twitter-dark-blue);
                }
            }

            .share {
                &:hover {
                    background-color: rgba(21, 140, 209, 0.1);
                    color: var(--twitter-dark-blue);
                }
            }
        }
    }

    .tweet-author-section {
        display: flex;
        align-items: center;

        .tweet-author-link {
            display: flex;
            align-items: center;
            gap: 0.35rem;
        }

        .tweet-author-link:hover .tweet-author {
            text-decoration: underline;
        }

        .tweet-author {
            font-weight: bold;
            font-size: 15px;
            display: flex;
            align-items: center;
        }

        .text-muted.date {
            font-size: 0.75rem;
            opacity: 0.75;
            cursor: pointer;
        }
    }
}

.single-tweet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .single-tweet-author-section {
        display: flex;
        gap: 0.75rem;
        width: 100%;

        .tweet-author-section {
            width: 100%;

            .tweet-author-link {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .tweet-main {
        gap: 1.25rem;

        .tweet-text {
            font-size: initial;
        }

        .date {
            border-bottom: 1px solid var(--border-color);
            display: block;
            padding-bottom: 1rem;
        }

        .tweet-stats {
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 1rem;
        }

        .tweet-bottom {
            max-width: inherit;
            justify-content: space-around;

            .icon {
                opacity: inherit;
            }
        }
    }
}

.retweet.tweet {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;

    .retweeted-by {
        position: absolute;
        top: 0.5rem;
        left: 3.1rem;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--twitter-muted);
        display: flex;
        align-items: center;
        gap: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.counters {
    .counter-btn {
        border: none;
        font-style: inherit;
        background-color: inherit;
        text-align: inherit;
        cursor: pointer;
    }

    .counter-btn:hover .text-muted {
        text-decoration: underline;
    }

    .count {
        font-weight: 900;
        font-size: 1rem;

        .text-muted {
            font-weight: normal;
            font-size: 0.85rem;
        }
    }
}

.user-list {
    .user-wrapper {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        min-height: 90px;
        padding: 0 1rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--hover);
        }
    }

    .user {
        width: 100%;
        cursor: pointer;

        .user-profile {
            display: flex;
            flex-direction: column;
            gap: 0.15rem;

            .flex {
                display: flex;
                justify-content: space-between;

                .flex-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.15rem;
                }
            }

            .user-name {
                font-weight: bold;
                font-size: 15px;
            }

            .user-desc {
                font-size: 14px;
                font-family: var(--font-poppins);
                line-height: normal;
                overflow-wrap: anywhere;
            }

            .user-name:hover {
                text-decoration: underline;
            }
        }
    }
}

.profile-layout {
    display: flex;
    flex-direction: column;

    .profile-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 1.75rem;
        border-bottom: 1px solid var(--border-color);

        .profile-nav-link {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 1rem 2rem 0.25rem;
            transition: background-color 0.2s ease-in-out;
            color: var(--twitter-muted);
            font-weight: 500;

            &:hover {
                background-color: var(--hover);
            }
        }

        .active {
            span {
                color: var(--twitter-black);
                font-weight: 700;
                padding: 0 0.25rem 0.75rem;
                border-bottom: 3px solid var(--twitter-blue);
            }
        }
    }

    .profile {
        .profile-header {
            width: 100%;
            height: 200px;
            position: relative;

            .avatar-wrapper {
                position: absolute;
                bottom: -70px;
                left: 1.5rem;
                border: 4px solid var(--twitter-white);
                border-radius: 5rem;
            }

            img {
                object-fit: cover;
            }
        }

        .profile-info {
            margin-top: 5.5rem;
            padding-left: 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;

            .edit-profile-section {
                position: absolute;
                right: 1rem;
                top: -4.5rem;
                font-weight: 600;
                font-size: 15px;

                .new-message {
                    border: 1px solid var(--twitter-light-gray);
                }
            }

            .flex {
                display: flex;
                gap: 0.5rem;
            }

            .profile-info-main {
                display: flex;
                flex-direction: column;
                gap: 0.33rem;

                .is-following {
                    font-size: 0.7rem;
                    font-weight: 500;
                    background-color: var(--twitter-white);
                    padding: 0.1rem 0.25rem;
                    border-radius: 0.5rem;
                }

                h1 {
                    font-size: larger;
                    font-weight: 900;
                }
            }

            .profile-info-desc {
                font-size: 15px;
                line-height: normal;
                overflow-wrap: anywhere;
                font-family: var(--font-poppins);
            }

            .profile-info-optional {
                display: flex;
                gap: 1rem;

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }

            .profile-info-popularity {
                display: flex;
                gap: 1rem;

                .count {
                    font-weight: 900;
                }

                .popularity-section {
                    cursor: pointer;

                    &:hover .text-muted {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.profile-card {
    padding: 1.25rem 1rem;
    min-width: 100px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .avatar-wrapper {
        img {
            object-fit: cover;
        }
    }

    .profile-info-main {
        display: flex;
        flex-direction: column;
        gap: 0.33rem;

        .is-following {
            font-size: 0.7rem;
            font-weight: 500;
            background-color: var(--twitter-white);
            padding-left: 0.25rem;
            border-radius: 0.5rem;
        }

        h1 {
            font-size: larger;
            font-weight: 900;
        }
    }

    .profile-info-desc {
        font-size: 0.9rem;
        line-height: normal;
        overflow-wrap: anywhere;
        font-family: var(--font-poppins);
    }

    .profile-info-popularity {
        display: flex;
        gap: 1rem;

        .count {
            font-weight: 900;
        }
    }
}

.edit-profile {
    .profile-header {
        width: 100%;
        height: 200px;
        position: relative;

        .avatar-wrapper {
            position: absolute;
            bottom: -70px;
            left: 1.5rem;
            border: 4px solid var(--twitter-white);
            border-radius: 5rem;
        }

        .add-photo {
            position: absolute;
            font-size: 1.5rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.25);

            &:hover {
                background-color: rgba(255, 255, 255, 0.25);
            }
        }

        img {
            object-fit: cover;
        }
    }

    .input-group {
        margin: 6.5rem 2rem 0;

        .input {
            padding: 0.5rem;
            min-width: 20vw;
        }

        h1 {
            font-weight: bold;
            font-size: 1.33rem;
            padding: 0 0 1.25rem 0.7rem;
        }

        .save {
            float: right;
            margin: 0.5rem;
        }
    }
}

.error-global {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--twitter-blue);
    z-index: 1000;
    position: fixed;
    inset: 0;

    h1 {
        font-size: 3.5rem;
        font-weight: 300;
        color: var(--twitter-white);
    }

    a {
        color: var(--twitter-white);
        font-size: 1.5rem;
        font-weight: 900;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--twitter-light-gray);
        }
    }

    .btn-dark {
        width: 10rem;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    position: relative;
}

.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
}

.global-loading-wrapper {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--twitter-blue);

    .bird {
        animation: zoom-in 1.5s forwards;
        color: var(--twitter-white);
        font-size: xx-large;
    }
}

.text-muted {
    font-size: 15px;
    color: var(--twitter-muted);
}

.middle-dot {
    padding: 0.33rem;
    font-weight: 900;
}

.page-name {
    padding: 2rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.delete {
    border: none;
    background-color: inherit;
    color: var(--twitter-red);
    font-weight: bold;
}

a.icon-hoverable {
    border-radius: 5rem;
    cursor: pointer;
    aspect-ratio: 1;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--hover);
    }
}

button.icon-hoverable {
    border: none;
    cursor: pointer;
    background: inherit;
    color: inherit;
    border-radius: 5rem;
    aspect-ratio: 1;
    padding: 0.75rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--hover);
    }
}

.three-dots.icon-hoverable {
    margin-left: auto;
    font-size: 1.25rem;

    &:hover {
        background-color: var(--twitter-light-blue);
    }
}

.fixed-link {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: 900;
    color: var(--twitter-dark-blue);
    display: flex;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        text-decoration: underline;
        color: var(--twitter-blue);
    }
}

.div-link {
    cursor: pointer;
}

.retweet-svg {
    width: 1rem;
}

.emoji-picker {
    position: absolute;
    z-index: 9999;
}

.avatar {
    img {
        transition: filter 0.2s ease-in-out;

        &:hover {
            filter: brightness(80%);
        }
    }
}

.nothing-to-show {
    text-align: center;
    padding: 5rem 0;
    font-size: 1.5rem;
    color: var(--twitter-muted);

    h1 {
        font-weight: 300;
    }

    p {
        font-size: x-large;
        padding-top: 2rem;
        font-family: cursive;
    }
}

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed var(--border-color) !important;
    border-radius: 2px;
    color: var(--twitter-gray);
    outline: none;
    margin-top: 1rem;
    transform: translateX(-65px);
    margin-right: -4rem;

    .presentation {
        cursor: pointer;
    }

    .preview {
        object-fit: scale-down;
        border: 1px dashed var(--border-color);
        margin: 1rem;
        padding: 1rem;
    }
}

.back-to {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);

    .top {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .top-title {
            font-weight: bold;
            font-size: 1.33rem;
        }
    }

    .btn {
        border: none;
    }
}

.new-reply {
    border-top: none;
    padding-top: 3rem;
    position: relative;
}

.reply {
    .reply-to {
        position: static;
    }
}

.reply-to {
    position: absolute;
    top: 1.5rem;
    font-weight: 300;
    color: var(--twitter-muted);
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.mention {
    font-weight: 400;
    color: var(--twitter-dark-blue);

    &:hover {
        text-decoration: underline;
    }
}

.html-modal-wrapper {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    dialog {
        border: 1px solid var(--border-color);
        background-color: var(--background-primary);
        border-radius: 1rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

    .confirm {
        width: clamp(150px, 33vw, 250px);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            font-size: x-large;
        }

        p {
            font-size: small;
            color: var(--twitter-muted);
            font-weight: 400;
        }
    }

    .get-blue-modal {
        width: clamp(200px, 33vw, 300px);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            font-size: x-large;
            display: flex;
            gap: 0.5rem;
        }

        p {
            font-size: small;
            font-weight: 400;

            a {
                color: var(--twitter-blue);

                &:hover {
                    color: var(--twitter-dark-blue);
                    text-decoration: underline;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
        }

        .blue-input {
            border: 1px solid var(--twitter-light-gray);
            border-radius: 5rem;
            background-color: var(--twitter-white);
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--twitter-black);

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--twitter-blue);
            }

            &::placeholder {
                color: var(--twitter-gray);
            }
        }

        svg {
            color: var(--twitter-blue);
        }

        .blue-user {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            text-align: center;
        }
    }
}

.get-blue {
    position: absolute;
    bottom: -3rem;
    right: 1rem;

    button {
        display: flex;
        align-items: center;
        font-size: smaller;
        font-weight: 700;
        gap: 0.25rem;
        border: none;
        background: inherit;
        cursor: pointer;

        &:hover {
            color: var(--twitter-blue);
            text-decoration: underline;
        }
    }

    svg {
        color: var(--twitter-blue);
        font-size: x-large;
        transition: all 0.5s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }
}

.blue-tick {
    vertical-align: top;
    color: var(--twitter-blue);
    padding-left: 2px;
    display: inline-flex;
}

.new-message-form {
    .title {
        margin-bottom: -1rem;
    }

    .dropzone {
        transform: none;
        margin-right: inherit;
    }

    .input-additions {
        border-top: none;
        justify-content: center;
    }

    .btn {
        width: 50%;
    }

    .emoji-picker {
        display: flex;
        justify-content: center;
    }
}

.messages-page {
    .page-name {
        position: relative;

        .new-message {
            position: absolute;
            right: 1rem;
            top: 1.5rem;
            border: 1px solid var(--twitter-light-gray);
        }
    }

    .messages-container {
        display: grid;
        grid-template-rows: auto minmax(300px, 1fr) minmax(90px, auto);
        height: 100vh;

        .new-message-box {
            padding: 0.75rem;

            .new-message-form {
                .input {
                    display: inline;
                }

                .btn {
                    width: auto;
                    border: none;
                    color: var(--twitter-blue);
                    display: inline-flex;
                    transform: translate(10px, 5px);
                }
            }

            .dropzone {
                transform: none;
                margin-right: inherit;
                max-height: 90px;
                overflow: auto;
            }

            .input-additions {
                border-top: none;
                transform: translate(455px, -65px);
                display: inline-flex;
                flex-direction: row-reverse;
                position: absolute;
            }

            .emoji-picker {
                position: absolute;
                transform: translate(90%, -110%);
            }
        }

        .messages-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            overflow: auto;
            border-bottom: 1px solid var(--border-color);

            .message {
                .message-text {
                    white-space: pre-line;
                    font-family: var(--font-poppins);
                    background-color: var(--hover);
                    border-radius: 1.25rem;
                    padding: 0.75rem 1rem;
                    width: fit-content;
                    max-width: 310px;
                    overflow-wrap: anywhere;
                    font-size: 0.9rem;
                }

                .message-image {
                    border: 1px solid var(--border-color);
                    border-radius: 1.5rem;
                    overflow: hidden;
                    margin-top: 0.5rem;
                    width: fit-content;

                    img {
                        object-fit: cover;
                        display: block;
                        cursor: pointer;
                    }
                }

                &.message-right {
                    margin-left: auto;
                    text-align: end;

                    .message-text {
                        border-bottom-right-radius: 0;
                        background-color: var(--twitter-blue);
                        color: var(--twitter-white);
                        margin-left: auto;
                    }
                }

                &.message-left {
                    .message-text {
                        border-bottom-left-radius: 0;
                    }
                }

                .message-date {
                    padding-top: 0.25rem;
                    font-size: 0.75rem;
                }
            }
        }
    }

    .conversation {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        transition: background-color 0.2s ease-in-out;
        height: 65px;
        cursor: pointer;
        border-bottom: 1px solid var(--border-color);

        &:hover {
            background-color: var(--hover);
        }

        .icon-hoverable {
            transition: none;
            font-size: 1rem;
        }

        .user-wrapper {
            display: flex;
            flex-direction: column;
            height: 45px;
            gap: 0.25rem;

            .last-message {
                white-space: nowrap;
                width: 350px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: var(--font-poppins);
                line-height: 1.5;
            }

            .user-section {
                display: flex;
                align-items: center;

                .user-name-link {
                    display: flex;
                    align-items: center;
                    gap: 0.35rem;
                }

                .user-name-link:hover .user-name {
                    text-decoration: underline;
                }

                .user-name {
                    font-weight: bold;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                }

                .text-muted.date {
                    font-size: 0.75rem;
                    opacity: 0.75;
                    cursor: pointer;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background-color: var(--twitter-light-gray);
}

::-webkit-scrollbar-thumb {
    background-color: var(--twitter-blue);
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--twitter-dark-blue);
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(5);
        opacity: 1;
    }
}
